
<div class="blog__item" id="post-{{ post.ID }}">

    <a href="{{ post.link }}">
        <div class="blog__item-thumbnail" style="background-image: url('{{ post.thumbnail.src|resize(1320)}}')">
            <div class="thumbnail-overlay">
                <div class="thumbnail-overlay__text">{{ __('Read more', 'base-camp') }}</div>
            </div>
        </div>
    </a>

    <h2 class="blog__item-title">
        <a href="{{ post.link }}">{{ post.title }}</a>
    </h2>

    <div class="blog__item-meta article-meta">
        <time class="timestamp"><i class="fa fa-calendar" aria-hidden="true"></i> <span>{{ post.date }}</span></time>
    </div>
    
    <p class="content">{{ post.preview.length(100).force.read_more('') }}</p>
    
    <ul class="article-tags">
        {% for tag in post.tags %}
        <li><a href="{{ tag.link }}" class="button is-danger is-outlined is-small">{{ tag.name }}</a></li>
        {% endfor %}
    </ul>   

</div>
