{% extends "base.twig" %}

{% block content %}

<section class="hero-home section" style="background-image: url('{{ theme.link }}/resources/assets/images/placeholder-hero-01.jpg')">
    
    
    <div class="hero-home__item">
        <div class="container">
            <div class="hero-home__content">
                <div class="hero-home__title has-text-yellow">Rio Carnival</div>
                <div class="hero-home__title has-text-white">Tickets 2019</div>
                <div class="hero-home__cta button is-rounded is-pulled-right">
                    <i class="icon-cart is-white"></i> Buy Tickets
                </div>
            </div>
            <div class="hero-home__controls"></div>
        </div>
    </div>
    
    <img src="{{ theme.link }}/resources/assets/images/hero-curve.svg" class="hero-home__curve">
    
</section>

<section class="featured-boxes section">
    <div class="container wrapper">
        <div class="featured-boxes__headline has-text-centered">Rio Carnival 2019</div>
        
        <div class="featured-boxes__items columns">
            <div class="column">
                <div class="featured-boxes__item" style="background-image: url('{{ theme.link }}/resources/assets/images/placeholder-carnival-01.png')">
                    <div class="featured-boxes__item-title featured-boxes__item-title--one">Grupo Série A</div>
                    <a href="#" class="featured-boxes__item-link"></a>
                </div> 
            </div>
            <div class="column">
                <div class="featured-boxes__item" style="background-image: url('{{ theme.link }}/resources/assets/images/placeholder-carnival-02.png')">
                    <div class="featured-boxes__item-title featured-boxes__item-title--two">Grupo Especial</div>
                    <a href="#" class="featured-boxes__item-link"></a>
                </div>
            </div>
            <div class="column">
                <div class="featured-boxes__item" style="background-image: url('{{ theme.link }}/resources/assets/images/placeholder-carnival-03.png')">
                    <div class="featured-boxes__item-title featured-boxes__item-title--three">Desfile das Campeães</div>
                    <a href="#" class="featured-boxes__item-link"></a>
                </div> 
            </div>
        </div>
    </div>
</section>

<section class="section-tours section">
    <div class="container">
        <div class="section-tours__headline has-text-centered">Rio de Janeiro Tours</div>
        
        {% include 'partials/tours-carousel.twig' %}
    </div>
</section>

<section class="section-about section">
    <div class="container wrapper">
        <div class="columns">
            
            <div class="column">
                <h3 class="section-title">About Lorem Ipsum</h3>
                <p class="section-copy">Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <a href="#" class="button is-info is-rounded">Read More</a>
            </div>
            
            <div class="latest-articles column">
                <h3 class="section-title">Latest Articles</h3>
                <a href="#" class="latest-articles__see-all">See all articles</a>
                
                <div class="latest-articles__items">
                    <div class="latest-articles__item">
                        <div class="latest-articles__item-image"></div>
                        <div class="latest-articles__item-content">
                            <div class="latest-articles__item-title">Lorem Ipsum Article Title here two lines</div>
                            <div class="latest-articles__item-copy">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</div>
                            <a href="#" class="latest-articles__item-button">Read More</a>
                        </div>
                    </div>
                    <div class="latest-articles__item">
                        <div class="latest-articles__item-image"></div>
                        <div class="latest-articles__item-content">
                            <div class="latest-articles__item-title">Lorem Ipsum Blog Title here which is a little longer test</div>
                            <div class="latest-articles__item-copy">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</div>
                            <a href="#" class="latest-articles__item-button">Read More</a>
                        </div>
                    </div>
                    <div class="latest-articles__item">
                        <div class="latest-articles__item-image"></div>
                        <div class="latest-articles__item-content">
                            <div class="latest-articles__item-title">Lorem Ipsum</div>
                            <div class="latest-articles__item-copy">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</div>
                            <a href="#" class="latest-articles__item-button">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

{% endblock %}
