{% extends "base.twig" %}

{% block content %}

<section class="hero-home">

    <slick ref="slick" :options="sliderHomeOptions">

        {% for hero in acf.hero_home %}

        {% set button_style = 'style="background-color:' ~ hero.button_background_color ~ '; border-color:' ~ hero.button_background_color ~ '"' %}

        <div class="hero-home__item" style="background-image: url('{{ hero.hero_background }}')">
            <div class="container">
                <div class="hero-home__content">
                    <div class="hero-home__title has-text-yellow">{{ hero.hero_title_first_line }}</div>
                    <div class="hero-home__title has-text-white">{{ hero.hero_title_second_line }}</div>
                    {% if hero.button_label is not empty %}
                        <a href="{{ hero.button_page_link }}" class="hero-home__cta button is-rounded is-pulled-right" {{ button_style }}>
                            <i class="icon-cart is-white"></i> {{ hero.button_label }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>

        {% endfor %}

    </slick> 
    
    <div class="container">
        <div class="hero-home__controls"></div>
    </div>

    <img src="{{ theme.link }}/resources/assets/images/hero-curve.svg" class="hero-home__curve">
    
</section>

<section class="featured-boxes section">
    <div class="container wrapper">
        <div class="featured-boxes__headline has-text-centered">{{ acf.parade_section_title }}</div>

        <div class="featured-boxes__items columns">
            <div class="column">
                <div class="featured-boxes__item" style="background-image: url('{{ acf.parades[0].parade_background_image }}')">
                    <div class="featured-boxes__item-title featured-boxes__item-title--one">{{ acf.parades[0].parade_title }}</div>
                    <a href="{{ acf.parades[0].parade_link }}" class="featured-boxes__item-link"></a>
                </div> 
            </div>
            <div class="column">
                <div class="featured-boxes__item" style="background-image: url('{{ acf.parades[1].parade_background_image }}')">
                    <div class="featured-boxes__item-title featured-boxes__item-title--two">{{ acf.parades[1].parade_title }}</div>
                    <a href="{{ acf.parades[1].parade_link }}" class="featured-boxes__item-link"></a>
                </div>
            </div>
            <div class="column">
                <div class="featured-boxes__item" style="background-image: url('{{ acf.parades[2].parade_background_image }}')">
                    <div class="featured-boxes__item-title featured-boxes__item-title--three">{{ acf.parades[2].parade_title }}</div>
                    <a href="{{ acf.parades[2].parade_link }}" class="featured-boxes__item-link"></a>
                </div> 
            </div>
        </div>
    </div>
</section>

<section class="section-tours section">
    <div class="container">
        <div class="section-tours__headline has-text-centered">{{ acf.tours_section_title }}</div>
        
        {% include 'partials/tours-carousel.twig' %}
    </div>
</section>

<section class="section-about section">
    <div class="container wrapper">
        <div class="columns">
            
            <div class="column">
                <h3 class="section-title">{{ acf.about_section_title }}</h3>
                <p class="section-copy">{{ acf.about_text }}</p>
                <a href="{{ acf.read_more_link }}" class="button is-info is-rounded">{{ acf.read_more_btn_label }}</a>
            </div>
            
            <div class="latest-articles column">
                <h3 class="section-title">{{ acf.latest_articles_section_title }}</h3>
                <a href="{{ acf.see_all_page_link }}" class="latest-articles__see-all">{{ acf.see_all_text }}</a>
                
                <div class="latest-articles__items">
                    {% for post in posts %}
                        {% set post_thumb = TimberImage(post.thumbnail) %}

                        <div class="latest-articles__item">
                            <a href="{{ post.link }}">
                                <div class="latest-articles__item-image" style="background-image: url('{{ post_thumb.src|resize(600)}}')"></div>
                            </a>
                            <div class="latest-articles__item-content">
                                <div class="latest-articles__item-title">
                                    <a href="{{ post.link }}">{{ post.title }}</a></div>

                                    <div class="latest-articles__item-copy">
                                        {{ post.preview.length(25).force }}
                                    </div>
                            </div>
                        </div>
                    {% endfor %}
                   
                </div>
            </div>
            
        </div>
    </div>
</section>

{% endblock %}
