{% extends "base.twig" %}

{% block content %}

<article class="main-article section">
  <div class="container">
    <div class="columns is-desktop">
      <div class="column content is-8-desktop is-7-widescreen">
        <h1 class="main-article__title">{{ post.title }}</h1>
        <div class="blog__item-meta article-meta">
            <time class="timestamp"><i class="fa fa-calendar" aria-hidden="true"></i> <span>{{ post.date }}</span></time>
        </div>
        <div class="is-background-cover" style="height: 450px; margin-bottom:24px; background-image: url('{{ post.thumbnail.src|resize(1320)}}')"></div>
          {{ post.content }}
          {# Social media share buttons #}
          {% include 'components/social-media.twig' %}   
          <br />
          <hr />
          <section class="comment-box">
            <div class="comments">
              {% if post.comments is not empty %}
                <h3 class="title is-3">{{ messages.single.comments }}</h3>
                {% for comment in post.comments %}
                  {% include "comment.twig" %}
                {% endfor %}
              {% endif %}
            </div>
            
            {% if post.comment_status == "open" %}
              {% include "comment-form.twig" %}
            {% endif %}
          </section>                 
      </div>
      <div class="column is-3-desktop is-offset-1-desktop is-3-widescreen is-offset-2-widescreen">
          {{ main_sidebar }}
      </div>
    </div>
  </div>
</article>

{% endblock %}
