{% extends "base.twig" %}

{% block content %}
    <div class="tickets" id="post-{{ post.ID }}">

        <div class="intro section">
            <div class="container wrapper">
                <div class="columns">
                    <div class="column">
                        <div class="intro__copy">{{ tickets_acf.tickets_intro }}</div>
                    </div>
                    <div class="column">
                        <img src="{{ tickets_acf.sambodromo_image }}" alt="Sectors Image" class="intro__image">
                    </div>
                </div>
            </div>
        </div>

        {% set current_lang = function('pll_current_language', 'slug') %}

        <purchase
            steps-labels="{{ steps_labels|json_encode|e('html_attr') }}"
            products-attr="{{ products_attr|json_encode|e('html_attr') }}"
            products="{{ products|json_encode|e('html_attr') }}"
            current-lang="{{ current_lang }}">
        </purchase>

    </div>
{% endblock %}