{% extends "base.twig" %}

{% block content %}
    <div class="tickets" id="post-{{ post.ID }}">

        <div class="intro section">
            <div class="container wrapper">
                <div class="columns">
                    <div class="column">
                        <div class="intro__copy">{{ tickets_acf.tickets_intro }}</div>
                    </div>
                    <div class="column">
                        <img src="{{ tickets_acf.sambodromo_image }}" alt="Sectors Image" class="intro__image">
                    </div>
                </div>
            </div>
        </div>

        <purchase
            steps-labels="{{ steps_labels|json_encode|e('html_attr') }}"
            parades-list="{{ parades_list|json_encode|e('html_attr') }}"
            dates-list="{{ dates_list|json_encode|e('html_attr')}}"
            seats-list="{{ seats_list|json_encode|e('html_attr')}}"
            current-lang="{{ current_lang }}">
        </purchase>
    </div>
{% endblock %}