
<div class="section-tours__cards">
    
    <slick ref="slick" :options="slickOptions">

    {% for tour in tours %}

        {% set tour_featured_image = TimberImage(tour.thumbnail) %}
            
        <div class="column">
            <div class="section-tours__card">
                <a href="{{ tour.link }}">
                    <div class="section-tours__header" 
                        style="background-image: url('{{ tour_featured_image.src|resize(640) }}')">
                        <div class="section-tours__card-title">{{ tour.title }}</div>
                    </div>
                </a>
                <div class="section-tours__footer">
                    <div class="section-tours__card-copy">{{ tour.tour_excerpt }}</div>
                    <a href="{{ tour.link }}" class=" section-tours__card-cta">{{ __( 'Read more', 'woocommerce' ) }}</a>
                </div>
            </div>
        </div>

    {% endfor %}
  
    </slick> 

</div>
<div class="slick__dots"></div>