<div class="navbar-top">

  <div class="lang-menu">
    {% for item in lang_menu.get_items %}
      <a class="navbar-item" href="{{ item.link }}">
        {{ item.title }}
      </a>
    {% endfor %}
  </div>

  <div class="account-menu">
    <a class="navbar-item" href="{{ icons_menu.get_items[0].link }}">
      <img src="{{ theme.link }}/resources/assets/images/icon-user-solid.png" alt="My Account">
    </a>
    <a class="navbar-item" href="{{ icons_menu.get_items[1].link }}">
      <span class="header-icon-cart badge is-badge-danger is-badge-small" data-badge="{{ cart_count }}">
        <img src="{{ theme.link }}/resources/assets/images/icon-cart-gray.png" alt="Cart">
      </span>
    </a>
  </div>

</div>

<nav class="navbar">
  {% include 'components/navbar/_navbar-brand.twig' %}
  {% include 'components/navbar/_navbar-menu.twig' %}
</nav>
