<head>
  <meta charset="utf-8">

  {# force Internet Explorer to use the latest rendering engine available #}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>
    {% if wp_title %}
      {{ wp_title }} - {{ site.name }}
    {% else %}
      {{ site.name }}
    {% endif %}
  </title>

  {# ldFriendly" content="True"> #}
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="apple-touch-icon" href="">
  <link rel="icon" href="{{ favicon }}">
  <!--[if IE]>
  <link rel="shortcut icon" href="">
  <![endif]-->
  <meta name="msapplication-TileColor" content="#00695C">
  <meta name="theme-color" content="#00695C">
  <meta name="description" content="{{ site.description }}">

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PXF9BK9');</script>
  <!-- End Google Tag Manager -->  

  <link rel="pingback" href="{{ site.pingback_url }}"/>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  {{ function('wp_head') }}
</head>
